<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/homeStudent.css">
    <meta charset="UTF-8">
    <title>Home</title>
    {% include "navBar.html" %}
</head>
<body>
    <div class = left></div>
    <div class="main">
        <div class="mainLeft">
            Titel:<br><br>
            Betreuer 1:<br><br>
            Betreuer 2:<br><br>
            Abgabetermin:<br><br>
            Themengebiet:<br><br>
            Art der Arbeit:<br><br>
            {% if group == "Student"%}
            Status:<br><br>
            Note Betreuer 1:<br><br>
            Note Betreuer 2:<br><br>
            {{ drittgutachter }}
            {% else %}
            <form method="post">{% csrf_token %}
                <button type="submit" name="answerRequest" value="accept">Accept</button>
            </form>
            {% endif %}
        </div>
        <div class="mainRight">
            &nbsp; &nbsp; {{ titel }}<br><br>
            &nbsp; &nbsp; {{betreuer1}}<br><br>
            &nbsp; &nbsp; {{betreuer2}}<br><br>
            &nbsp; &nbsp; {{abgabetermin}}<br><br>
            &nbsp; &nbsp; {{themengebiet}}<br><br>
            &nbsp; &nbsp; {{ art }}<br><br>
                {% if group == "Student"%}
            &nbsp; &nbsp; <u>{{status}}</u><br><br>
            &nbsp; &nbsp; {{note1}}<br><br>
            &nbsp; &nbsp; {{note2}}<br><br>
                {{drittgutachterNote}}
                {% else %}
                <form method="post">{% csrf_token %}
                    <button type="submit" name="answerRequest" value="reject">Reject</button>
                </form>
                {% endif %}
        </div>
    </div>
    <div class="right"></div>
</body>
</html>