<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/homePruefungsamt.css">
    <meta charset="UTF-8">
    <title>Home</title>
    {% include "navBar.html" %}
</head>
<body>
    <div class = "left"></div>
    <div class="main">
        <div id="firstRow">
            <div id="container1">
                <div class="containerTitle">
                    Student in Schreibphase / Bestätigungsabfrage:
                </div>
                <div class="containerScroll">
                    <form method="post">{% csrf_token %}
                        {{ container1 |safe}}
                    </form>
                </div>
            </div>
            <div id="container2">
                <div class="containerTitle">
                    Wartet auf Gutachten:
                </div>
                <div class="containerScroll">
                    <form method="post">{% csrf_token %}
                        {{ container2 |safe}}
                    </form>
                </div>
            </div>
        </div>
        <div id="secondRow">
            <div id="container3">
                <div class="containerTitle">
                    Terminfindung für Verteidigungen:
                </div>
                <div class="containerScroll">
                    <form method="post">{% csrf_token %}
                        {{ container3 |safe}}
                    </form>
                </div>
            </div>
            <div id="container4">
                <div class="containerTitle">
                    Entstandene Verteidigungen:
                </div>
                <div class="containerScroll">
                    <form method="post">{% csrf_token %}
                        {{ container4 |safe}}
                    </form>
                </div>
            </div>
        </div>
        <div id="thirdRow">
            <div id="container5">
                <div class="containerTitle">
                    Endgültige Verteidigungen:
                </div>
                <div class="containerScroll">
                    <form method="post">{% csrf_token %}
                        {{ container5 |safe}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="right"></div>
</body>
</html>