<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/managementRequest.css">
    <meta charset="UTF-8">
    <title>
        Verwaltung
    </title>
    {% include "navBar.html" %}
</head>
<body>
    <div class="main">
        <div class="mainCenter">
            <form method="post">{% csrf_token %}
                E-Mail:
                <input type="email" name="email">
                <button type="submit" class="button" name="send" value="email">Suchen</button>
                <!--
                Oder:
                <br>
                Name:
                <input type="text" name="name">
                <button type="submit" class="button" name="send" value="name">Suchen</button>
                -->
            </form>
            {% if found %}
                <p> Achtung: Bei jedem Klick auf "Anwenden" aktualisiert sich nur das eine jeweilige Feld. </p>
                <div class="request">
                    <p></p>
                    <form method="post">{% csrf_token %}
                    Abgabetermin: {{ deadline | safe }} <br>
                    <input type="date" name="deadline">
                    <button name="change" value="deadline" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    Titel: {{ title | safe }} <br>
                    <input type="text" name="title">
                    <button name="change" value="title" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    Fach: {{ subject | safe }} <br>
                    <select name="subject">
                        <option></option>
                        {{ subjects | safe }}
                    </select>
                    <button name="change" value="subject" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    Themengebiet: {{ topic | safe }} <br>
                    <select name="topic">
                        <option></option>
                        {{ topics | safe }}
                    </select>
                    <button name="change" value="topic" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    Art der Arbeit: {{ type | safe }} <br>
                    <select name="type">
                        <option></option>
                        <option value="b.sc.">B.Sc.</option>
                        <option value="m.sc.">M.Sc.</option>
                        <option value="dr.">Dr.</option>
                    </select>
                    <button name="change" value="type" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    Betreuer 1: {{ supervisor1 | safe }} <br>
                    <select name="supervisor1">
                        <option></option>
                        {{ supervisors | safe }}
                    </select>
                    <button name="change" value="supervisor1" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    Betreuer 2: {{ supervisor2 | safe }} <br>
                    <select name="supervisor2">
                        <option></option>
                        {{ supervisors | safe }}
                    </select>
                    <button name="change" value="supervisor2" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    {% if supervisor3Set %}
                        Betreuer 3: {{ supervisor3r | safe }} <br>
                        <select name="supervisor3">
                        <option></option>
                        {{ supervisors | safe }}
                    </select>
                        <button name="change" value="supervisor3" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>
                    {% endif %}
                    {{ error2 | safe }}
                    <button name="confirmations" value="reset" onclick="return confirm('Sind Sie sicher?');">Bestätigungen zurücksetzen</button><br><br>

                    Note 1: {{ grade1 | safe }} <br>
                    <select name="grade1">
                        <option value="1.0">1.0</option>
                        <option value="1.3">1.3</option>
                        <option value="1.7">1.7</option>
                        <option value="2.0">2.0</option>
                        <option value="2.3">2.3</option>
                        <option value="2.7">2.7</option>
                        <option value="3.0">3.0</option>
                        <option value="3.3">3.3</option>
                        <option value="3.7">3.7</option>
                        <option value="4.0">4.0</option>
                        <option value="5.0">5.0</option>
                    </select>
                    <button name="change" value="grade1" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    Note 2: {{ grade2 | safe }} <br>
                    <select name="grade2">
                        <option value="1.0">1.0</option>
                        <option value="1.3">1.3</option>
                        <option value="1.7">1.7</option>
                        <option value="2.0">2.0</option>
                        <option value="2.3">2.3</option>
                        <option value="2.7">2.7</option>
                        <option value="3.0">3.0</option>
                        <option value="3.3">3.3</option>
                        <option value="3.7">3.7</option>
                        <option value="4.0">4.0</option>
                        <option value="5.0">5.0</option>
                    </select>
                    <button name="change" value="grade2" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>

                    {% if grade3Set %}
                        Note 3: {{ grade3r | safe }} <br>
                        <select name="grade3">
                            <option value="1.0">1.0</option>
                            <option value="1.3">1.3</option>
                            <option value="1.7">1.7</option>
                            <option value="2.0">2.0</option>
                            <option value="2.3">2.3</option>
                            <option value="2.7">2.7</option>
                            <option value="3.0">3.0</option>
                            <option value="3.3">3.3</option>
                            <option value="3.7">3.7</option>
                            <option value="4.0">4.0</option>
                            <option value="5.0">5.0</option>
                        </select>
                        <button name="change" value="grade3" onclick="return confirm('Sind Sie sicher?');">Anwenden</button><br><br>
                    {% endif %}

                    <div class="appointment">
                        Verteidigung festlegen: <br> <br>
                        {{ error1 | safe }}
                        Verteidigungstermin: {{ appointmentr | safe }} <br>
                        <input type="date" name="appointment1">
                        <select name="appointment2">
                            <option value="08:00">08:00</option>
                            <option value="10:00">10:00</option>
                            <option value="12:00">12:00</option>
                            <option value="14:00">14:00</option>
                            <option value="16:00">16:00</option>
                        </select> <br><br>

                        Vorsitzender: {{ chairman | safe }}<br>
                        <select name="chairman">
                            <option></option>
                            {{ supervisors | safe }}
                        </select> <br><br>

                        1. Protokollant: {{ reporter1 | safe }}<br>
                        <select name="reporter1">
                            <option></option>
                            {{ supervisors | safe }}
                        </select><br><br>

                        2. Protokollant: {{ reporter2 | safe }}<br>
                        <select name="reporter2">
                            <option></option>
                            {{ supervisors | safe }}
                        </select><br><br>

                        Prüfer: {{ examiner | safe }}<br>
                        <select name="examiner">
                            <option></option>
                            {{ supervisors | safe }}
                        </select><br><br>

                        Externer Prüfer: {{ externalExaminer | safe }}<br>
                        <select name="externalExaminer">
                            <option></option>
                            {{ supervisors | safe }}
                        </select><br><br>
                        <button name="change" value="oral" onclick="return confirm('Sind Sie sicher?');">Verteidigung festlegen</button><br><br>

                    </div>
                    </form>
                </div>
            {% else %}
                Keine Anfrage gefunden
            {% endif %}
        </div>
    </div>
</body>
</html>