<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/requestDetails.css">
    <meta charset="UTF-8">
    <title>
        {% if group == "Student"%}
            Student Home page
        {% elif request.path == '/grading'%}
            Benoten
        {% elif request.path == '/supervisor3'%}
            Drittgutachter
        {% endif %}
    </title>
    {% include "navBar.html" %}
</head>
<body>
    <div class = left></div>
    <div class="main">
        <div class="mainLeft">
            Titel:<br><br>
            Betreuer 1:<br><br>
            Betreuer 2:<br><br>
            Abgabetermin:<br><br>
            Fach:<br><br>
            Themengebiet:<br><br>
            Art der Arbeit:<br><br>
            {% if group == "Student"%}
            Status:<br><br>
            Note Betreuer 1:<br><br>
            Note Betreuer 2:<br><br>
            {{ drittgutachter }}
            {% elif request.path == '/confirmrequest' %}
            <form method="post">{% csrf_token %}
                <button type="submit" name="answerRequest" value="accept">Accept</button>
            </form>
            {% elif request.path == '/grading'%}
                Note:<br><br>
            {% elif request.path == '/supervisor3'%}
                Drittgutachter:<br><br>
            {% endif %}
        </div>
        <div class="mainRight">
            &nbsp; &nbsp; {{title}}<br><br>
            &nbsp; &nbsp; {{supervisor1}}<br><br>
            &nbsp; &nbsp; {{supervisor1}}<br><br>
            &nbsp; &nbsp; {{deadline}}<br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;{{subject}}<br><br>
            &nbsp; &nbsp; {{topic}}<br><br>
            &nbsp; &nbsp; {{type}}<br><br>
                {% if group == "Student"%}
            &nbsp; &nbsp; <u>{{status}}</u><br><br>
            &nbsp; &nbsp; {{grade1}}<br><br>
            &nbsp; &nbsp; {{grade2}}<br><br>
                {{grade3}}
                {% elif request.path == '/confirmrequest' %}
                <form method="post">{% csrf_token %}
                    <button type="submit" name="answerRequest" value="reject">Reject</button>
                </form>
                {% elif request.path == '/grading'%}
                    <form method="post">{% csrf_token %}
                        <select name="grade">
                            <option value="1.0">1.0</option>
                            <option value="1.3">1.3</option>
                            <option value="1.7">1.7</option>
                            <option value="2.0">2.0</option>
                            <option value="2.3">2.3</option>
                            <option value="2.7">2.7</option>
                            <option value="3.0">3.0</option>
                            <option value="3.3">3.3</option>
                            <option value="3.7">3.7</option>
                            <option value="4.0">4.0</option>
                            <option value="5.0">5.0</option>
                        </select>
                        <button type="submit" name="confirm" value=" ">Benoten</button>
                    </form>
                {% elif request.path == '/supervisor3'%}
                    <form method="post">{% csrf_token %}
                        <select name="supervisor3">
                            <option></option>
                            {{ supervisors | safe}}
                        </select>
                        <button type="submit" name="confirm" value="1">Bestätigen</button>
                    </form>
                    {{ error | safe }}
                {% endif %}
        </div>
    </div>
    <div class="right"></div>
</body>
</html>