body {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    overflow: scroll;
}

@media only screen and (max-width: 599px) {
    .mainCenter {
        width: 100%;
        height: 30%;
    }
}

@media only screen and (min-width: 600px) {
    .mainCenter {
        width: 50%;
        height: 30%;
        margin-right: 25%;
        margin-left: 25%;
    }
}

.request {
    margin-top: 5%;
    border-top: 1px solid black;
}

.appointment {
    margin-top: 5%;
    border-top: 1px solid black;
}
