body {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    overflow: scroll;
}

.add {
    border: 1px solid black;
    margin-bottom: 7%;
}

.qualifications {
    overflow: scroll;
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    font-size: 13px;
}

@media only screen and (max-width: 599px) {
    .mainCenter {
        width: 100%;
        height: 30%;
    }
}

@media only screen and (min-width: 600px) {
    .mainCenter {
        width: 50%;
        height: 30%;
        margin-right: 25%;
        margin-left: 25%;
    }
}
