body {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.main.left {
    float: left;
    width: 30%;
    display: flex;
}

@media only screen and (max-width: 599px) {
    .main.main {
        display: flex;
        margin: 0 auto;
        width: 90%;
        height: 20%;
        text-align: left;
        border: 1px solid black;
    }

}

@media only screen and (min-width: 600px) {
    .main.main {
        display: flex;
        margin: 0 auto;
        width: 40%;
        height: 20%;
        text-align: left;
        border: 1px solid black;
    }
}

.main.mainLeft {
    float: left;
    width: 50%;
    display: flex;
}

.main.mainRight {
    float: right;
    width: 50%;
    display: flex;
}

.main.right {
    float: right;
    width: 15%
}